@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    background-image: url('./../../public/image/aaabstract.png');
}

.leftSide{
    background-image: url('./../../public/image/ttten.svg');
}

.dashCard{
    background-image: url('./../../public/image/dashCard.svg');
    background-size: cover;
}